# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# System-specific
.env
.setup_complete
chromedriver.exe
PortoSeguro_Bot.spec

# App-specific
logs/
arquivos/
*.xlsx
